<%= simple_form_for(@datum) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <button id="speck_minus" type="button">-</button>
    <button id="speck_plus" type="button">+</button>
    <%= f.input :specks %>
        

    <button id="leak_minus" type="button">-</button>
    <button id="leak_plus" type="button">+</button>
    <%= f.input :light_leaks %>
   

    <button id="holes_minus" type="button">-</button>
    <button id="holes_plus" type="button">+</button>
    <%= f.input :holes %>


    <button id="cracks_minus" type="button">-</button>
    <button id="cracks_plus" type="button">+</button>
    <%= f.input :boron_cracks %>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
