<h1>Listing data</h1>

<table>
  <tr>
    <th><%= t(:Specks) %></th>
    <th><%= t(:Light_Leaks) %></th>
    <th><%= t(:Holes) %></th>
    <th><%= t(:Boron_Holes) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data.each do |datum| %>
  <tr>
    <td><%= datum.specks %></td>
    <td><%= datum.light_leaks %></td>
    <td><%= datum.holes %></td>
    <td><%= datum.boron_cracks %></td>
    <td><%= link_to '<%= t(:lt_show) %>', datum %></td>
    <td><%= link_to '<%= t(:lt_edit) %>', edit_datum_path(datum) %></td>
    <td><%= link_to '<%= t(:lt_destroy) %>', datum, method: :delete, data: { confirm: '<%= t(:confirm) %>' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datum', new_datum_path %>
