<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:Specks) %>:</b>
  <%= @datum.specks %>
</p>

<p>
  <b><%= t(:Light_Leaks) %>:</b>
  <%= @datum.light_leaks %>
</p>

<p>
  <b><%= t(:Holes) %>:</b>
  <%= @datum.holes %>
</p>

<p>
  <b><%= t(:Boron_Holes) %>:</b>
  <%= @datum.boron_cracks %>
</p>


<%= link_to '<%= t(:lt_edit) %>', edit_datum_path(@datum) %> |
<%= link_to '<%= t(:lt_back) %>', data_path %>
