$(function () {
        $('#highcharts_div').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Data-tracker'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    '<%= t(:abv_day_mon) %>',
                    '<%= t(:abv_day_tue) %>',
                    '<%= t(:abv_day_wed) %>',
                    '<%= t(:abv_day_thurs) %>',
                    '<%= t(:abv_day_fri) %>',
                   
                    '<%= t(:last_week_total) %>',
                    
               ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '<%= t(:Quantity) %>'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td><td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '<%= t(:Specks) %>',
                data: [<%= Datum.specks_data %>]
            }, {
                name: '<%= t(:Light_Leaks) %>',
                data: [<%= Datum.light_leaks_data %>]
    
            }, {
                name: '<%= t(:Holes) %>',
                data: [<%= Datum.holes_data %>]
    
            }, {
                name: '<%= t(:Boron_Cracks) %>',
                data: [<%= Datum.boron_cracks_data %>]
    
            }]
        });
    });